@charset "utf-8";
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

html,
body {
  text-align: center;
  min-height: 100vh;
  font-family: 'Overpass Mono', monospace;
  overflow-y: auto;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}
